<h1>Song Index</h1>
<% @songs.each do |song| %>
  <table>
    <tr>
      <th>
      </th>
    </tr>
    <tbody>
      <tr>
        <td>
          <%= song.title%>
        </td>
      </tr>
    </tbody>
  </table>
<% end %>
